{% extends 'base.html' %}


<!-- Message -->
{% if messages %}
<div id="msg">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %}


{% load static %}
{% block content %}


<!-- Cover image -->
<div class="cover_img">
  <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-sm-12 col-md-8 cover-text">
          <h2 class="heading">Bienvenidos a 'Cubaneros'</h2>
          <p class="sub-heading">Welcome to the real Cuban experience!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container home-about">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 text-center mt-4">
      <h2>About {{ about_us.restaurant_name }}</h2>
      <p>{{ about_us.description }}</p>
    </div>
  </div>
</div>

<hr>

<div class="container home-menu">
  <div class="row m-2">
    <div class="col-sm-12 col-md-8">

      <h2 class="text-center">Menu List with Price</h2>

      <!-- Category links -->
      <ul class="nav menu-tab-nav" id="pills-tab" role="tablist">
        {% for category in categories %}
        <li class="nav-item">
          <a class="nav-link" id="{{ category.name }}-tab" data-toggle="pill" href="#{{ category.name }}" role="tab"
            aria-controls="{{ category.name }}" aria-selected="true">{{ category.name }}</a>
        </li>
        {% endfor %}
      </ul>

      <!-- Tab links -->
      <div class="tab-content mb-4" id="pills-tabContent">
        {% for category in categories %}
        <div class="tab-pane fade show" id="{{ category.name }}" role="tabpanel"
          aria-labelledby="{{ category.name }}-tab">

          {% for meal in category.menuitem_set.all %}
          {% if meal.category == category %}
          <div class="d-block d-md-flex menu-item mb-3">
            <div class="text">
              <h3><a href="{% url 'menu:meal_details' meal.slug %}">{{ meal.name }}</a></h3>
              <p>{{ meal.description|truncatewords:20 }}</p>
            </div>
            <div class="price">
              <strong>SEK {{ meal.price }}</strong>
            </div>
          </div>
          {% endif %}
          {% empty %}
          <p>No meals found for this category.</p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container home-contacts">
  <div class="row justify-content-center m-2" data-aos="fade-up">
    <div class="col-sm-12 col-md-8 text-right">
      <h2 class="text-center mb-3">Contacts:</h2>
      <p><strong>Name: </strong>{{ contacts.name }}</p>
      <p><strong>Email: </strong>{{ contacts.email }}</p>
      <p><strong>Tel.: </strong>{{ contacts.phone_number }}</p>
      <p><strong>Address: </strong>{{ contacts.address }}</p>
    </div>
  </div>
</div>


{% endblock %}
