{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Cover image -->
<div class="cover_img">
  <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 cover-text">
          <h2 class="heading">Contact information</h2>
          <p class="sub-heading">In case of any further questions do not hesitate to call or email us!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container contacts">
  <div class="row justify-content-center m-3">
    <div class="col-md-6 text-right">
      <h2 class="pb-3">Contact Details: </h2>
      <p><strong>Name: </strong>{{ contacts.name }}</p>
      <p><strong>Email: </strong>{{ contacts.email }}</p>
      <p><strong>Phone number: </strong>{{ contacts.phone_number }}</p>
      <p><strong>Address: </strong>{{ contacts.address }}</p>
    </div>
  </div>
</div>

{% endblock %}