/* Base.HTML*/
/* 330 px*/


/* Nav-bar */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1px;
}

span.navbar-toggler-icon {
  font-size: 15px;
}

a.nav-link {
  /* margin-top: 8px; */
  /* when burger opens */
  font-size: 15px;
  line-height: 1;
}


/* Footer */

.footer a {
  font-size: 18px;
  padding-bottom: 5px;
}

.footer p {
  font-size: 11px;
  line-height: 0.5;
}

.copy-right {
  padding-bottom: 5px;
}



/* index.HTML*/

.cover_img {
  position: relative;
}

.img_bg {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.heading {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.sub-heading {
  color: white;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
}

.cover_img .img_bg>.container>.row {
  min-height: 200px;
  height: 30vh;
}


/* Home About*/

.home-about h2 {
  font-size: 20px;
  padding-bottom: 5px;
}

.home-about p {
  font-size: 12px;
  padding: 10px 20px
}

hr {
  margin: 0;
  color: inherit;
  order: 0;
  opacity: 0.15;
}


/* Home Menu*/

.home-menu h2 {
  font-size: 18px;
  margin: 15px;
}

.home-menu ul {
  font-size: 12px;
}


/* home-menu-items-tabs */

.menu-tab-nav {
  display: block;
  text-align: center;
  margin-bottom: 25px !important;
}

.menu-tab-nav li {
  float: none;
  display: inline-block;
  /* display: inline; */
  zoom: 1;
}


.menu-tab-nav li a {
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
}


.menu-tab-nav li a.active {
  color: black;
  background: none;
  border-bottom: 1px solid red;
}


/* home-menu-items */

.menu-item h3 {
  font-size: 12px;
  font-weight: 600;
}

.menu-item h3 a {
  color: #000;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

.menu-item h3 a:hover {
  color: gray;
}

.menu-item p:last-child {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 300;
}

.menu-item .price {
  font-weight: 500;
}

.menu-item .price strong {
  color: grey;
  font-size: 12px;
}

/* Home Contacts */

.home-contacts h2 {
  font-size: 18px;
}

.home-contacts p {
  font-size: 12px;
  color: grey;
}

.home-contacts strong {
  color: black;
}


/* About Us */

.about h2 {
  font-size: 20px;
  padding-bottom: 5px;
}

.about p {
  font-size: 12px;
  padding: 10px 20px
}

.about-things h3 {
  font-size: 20px;
}

.about-things h5 {
  font-size: 15px;
}

.about-things p {
  font-size: 12px;
  padding: 0 20px
}


/* Menu */

.menu h2 {
  font-size: 20px;
}

.categories {
  font-size: 15px;
}

.categories a:hover {
  color: grey;
}




















/* my code */

table td,
table th {
  padding: 0 10px;
}


/* @media queries */

@media (min-width: 320px) {

  .container,
  .container-sm,
  .container-xs {
    max-width: 540px;
  }
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}



/* contacts.html p strong*/
/* adjust the width as needed */
/* .label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
} */
