html {
  overflow-x: hidden;
}

.bg-image,
.half .image,
.image-bg-fullwidth {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.half .text,
.half .image {
  width: 100%;
}




/* Cover image */

.cover_1 {
  position: relative;
}

.cover_1 .lead {
  color: #fff;
  font-size: 18px;
}

.cover_1 .img_bg {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center;
}

.cover_1 .img_bg,
.cover_1 .img_bg>.container>.row {
  /* min-height: 700px; */
  min-height: 500px;
  height: 100vh;
}

.cover_1.cover_sm .img_bg,
.cover_1.cover_sm .img_bg>.container>.row {
  /* min-height: 600px;
    height: 80vh; */
  min-height: 300px;
  height: 40vh;
}

.cover_1 .sub-heading {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}

.cover_1 .heading {
  color: white;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .cover_1 .heading {
    font-size: 50px;
    line-height: 1.5;
  }
}






/* Accordion */

.site-tab-nav {
  display: block;
  text-align: center;
  margin-bottom: 80px !important;
}

.site-tab-nav li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.site-tab-nav li a {
  background: none;
  color: #b3b3b3;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-bottom: 2px solid transparent;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
}

.site-tab-nav li a.active {
  color: black;
  background: none;
  border-bottom: 2px solid #fdb44b;
}

.site-tab-nav,
.nav-pills {
  text-align: center;
}



/* menu_food-item */

.menu-food-item .text {
  width: calc(100%);
}

@media (min-width: 768px) {
  .menu-food-item .text {
    width: calc(100% - 70px);
  }
}

.menu-food-item .price {
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  .menu-food-item .price {
    width: 70px;
    text-align: right;
  }
}

.menu-food-item .price strong {
  color: #fdb44b;
  font-size: 20px;
}

.menu-food-item h3 {
  font-size: 22px;
}

.menu-food-item h3 a {
  color: #000;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.menu-food-item h3 a:hover {
  color: gray;
}

.menu-food-item p:last-child {
  margin-bottom: 0;
}





table td,
table th {
  padding: 0 10px;
}


/* contacts.html p strong*/
/* adjust the width as needed */
/* .label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
} */