html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #d5aeaef5;
}


/* Nav-bar */

.navbar {
  padding: 1px;
}

.red-c {
  color: red;
}

.blue-b {
  color: #65cdda;
}

button.navbar-toggler {
  color: #65cdda;
}

span.navbar-toggler-icon {
  font-size: 15px;
  color: #65cdda;
}

a.nav-link {
  font-size: 15px;
  line-height: 1;
  color: white;
}

.sticky-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}


/* Footer */

footer {
  width: 100%;
  bottom: 0px;
  position: inherit;
}

.footer a {
  font-size: 18px;
  padding-bottom: 5px;
}

.footer i:hover {
  color: #ec9494f5;
}

.footer p {
  font-size: 11px;
  line-height: 0.5;
}

.copy-right {
  padding-bottom: 5px;
}


/* index.HTML*/

.cover_img {
  position: relative;
}

.img_bg {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.9;
}

.heading {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.sub-heading {
  color: white;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
}

.cover_img .img_bg>.container>.row {
  min-height: 180px;
  height: 25vh;
}


/* Home About*/

.home-about {
  background: #d5aeaef5;
}

.home-contacts {
  background: #d5aeaef5;
}

.home-about h2 {
  font-size: 20px;
}

.home-about p {
  font-size: 12px;
  padding: 10px 20px
}

hr {
  margin: 0;
  color: inherit;
  order: 0;
  opacity: 0.15;
}


/* Home Menu*/

.home-menu {
  background-color: floralwhite;
}

.home-menu h2 {
  font-size: 18px;
  margin: 15px;
}

.home-menu ul {
  font-size: 12px;
}


/* home-menu-items-tabs */

.menu-tab-nav {
  display: block;
  text-align: center;
  margin-bottom: 25px !important;
}

.menu-tab-nav li {
  float: none;
  display: inline-block;
  zoom: 1;
}

.menu-tab-nav li a {
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
}

.menu-tab-nav li a.active {
  color: black;
  background: none;
  border-bottom: 1px solid red;
}


/* home-menu-items */

.menu-item h3 {
  font-size: 12px;
  font-weight: 600;
}

.menu-item h3 a {
  color: #000;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
}

.menu-item h3 a:hover {
  color: gray;
}

.menu-item p:last-child {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 300;
}

.menu-item .price {
  font-weight: 500;
}

.menu-item .price strong {
  color: grey;
  font-size: 12px;
}

/* Home Contacts */

.home-contacts h2 {
  font-size: 18px;
}

.home-contacts p {
  font-size: 12px;
  color: black;
  font-weight: 400;
}

.home-contacts strong {
  color: black;
}


/* About Us */

.about h2 {
  font-size: 20px;
  padding-bottom: 5px;
}

.about p {
  font-size: 12px;
  padding: 10px 20px
}

.about-things h3 {
  font-size: 20px;
}

.about-things h5 {
  font-size: 15px;
}

.about-things p {
  font-size: 12px;
  padding: 0 20px
}


/* Menu */

.menu-cover_img .menu-img_bg>.container>.row {
  min-height: 200px;
  height: 50vh;
}

.menu-cover-img {
  position: relative;
}

.menu-img-bg {
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.9;
}

.menu h2 {
  font-size: 20px;
}

.categories a {
  font-size: 12px;
  font-weight: 600;
  background: floralwhite;
}

.categories a:hover {
  font-size: 13px;
  color: grey;
}

.menu h3>a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.menu h3>a:hover {
  font-size: 16px;
  color: grey;
  font-weight: 500;
}

.card-body {
  font-size: 12px;
  background: floralwhite;
}

.menu h5>a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.menu h5>a:hover {
  font-size: 13px;
  color: grey;
}

.menu p {
  margin: 5px;
  font-weight: 300;
}

.card-link {
  font-size: 12px;
  text-decoration: none;
}


/* Meal detail */

.no-border {
  width: 18rem;
  border: 1px solid grey;
  border-radius: 0px;
}

.details h5 {
  font-size: 12px;
  font-weight: 600;
}

.details p {
  font-size: 12px;
  margin: 5px;
  font-weight: 300;
}

.details button {
  font-size: 10px;
  margin-top: 5px;
  border: 1px solid grey;
}

.details button:hover {
  background-color: black;
  color: white;
  font-weight: 300;
}


/* Booking form */

.form-group {
  font-size: 12px;
  font-weight: 300;
}

.booking-form input {
  font-size: 12px;
  font-weight: 200;
}

.booking-form textarea {
  font-size: 12px;
  font-weight: 200;
}

.booking-form select {
  font-size: 12px;
  font-weight: 200;
}

.book-table {
  font-size: 10px;
  background-color: white;
  border: 1px solid black;
}

.book-table:hover {
  color: white;
  background-color: black;
  border: 1px solid grey;
}


/* Booking confirmation */

.confirmation-title {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

.p-text {
  font-weight: 600;
  margin: 15px;
  padding-bottom: 5px;
}

.confirmation {
  font-size: 12px;
  font-weight: 300;
}

p {
  margin-top: 15px;
}


/* POP-up message */

.hide {
  display: none;
}

#msg {
  margin-top: 60px;
}


/* Contacts page */

.contacts h2 {
  font-size: 18px;
}

.contacts p {
  font-size: 12px;
  color: black;
}

.contacts strong {
  color: black;
}


/* my-bookings page */

.bookings h1 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

thead {
  border-bottom: 1px solid lightgray;
  line-height: 1.2;
}

table {
  background: floralwhite;
}

table th {
  font-size: 12px;
  font-weight: 600;
}

table td {
  font-weight: 300;
  font-size: 10px;
}

table a {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #008000e8;
}

.a-delete {
  color: #c42222d1;
}


/* Edit booking */

.edit-form h1 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 15px;
}

.edit-form input {
  font-size: 12px;
  font-weight: 400;
}

.edit-form label {
  font-weight: 600;
}

.edit-form textarea {
  font-size: 12px;
  font-weight: 200;
}

.edit-form select {
  font-size: 12px;
  font-weight: 200;
}

.btns {
  margin: 10px;
}

.edit-btn {
  border: 1px solid black;
  background: white;
}

.edit-btn:hover {
  color: white;
  background-color: black;
  border: 1px solid grey;
}

.cancel-btn {
  font-size: 12px;
  border: 1px solid black;
  background: floralwhite;
}

.cancel-btn a {
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.cancel-btn a:hover,
.cancel-btn:hover {
  color: white;
  background-color: black;
}


/* Delete booking */

.card {
  background: floralwhite;
}

.delete h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.delete h2 {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.delete hr {
  margin-bottom: 5px;
}

.delete p {
  font-size: 12px;
  text-align: center;
  line-height: 0.5;
  font-weight: 300;
}

.delete-btn {
  font-size: 12px;
  font-weight: 400;
  border: 1px solid black;
}

.delete-btn:hover {
  color: white;
  background-color: black;
  border: 1px solid grey;
}


/* SignUp */

.sign-up h1 {
  font-size: 20px;
}

.sign-up p {
  font-size: 12px;
  font-weight: 400;
}

.sign-up a {
  text-decoration: none;
}

.sign-up label {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.sign-up input {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
}

.sign-up button {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  margin-top: 15px;
}

.sign-up button:hover {
  color: white;
  background-color: black;
  border: 1px solid grey;
}


/* LogIn */

.log-in h1 {
  font-size: 20px;
}

.log-in p {
  font-size: 12px;
  font-weight: 400;
}

.log-in a {
  text-decoration: none;
}

.log-in label {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.log-in input {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
}

.log-in button {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  background-color: white;
  border: 1px solid black;
  margin-top: 10px;
}

.log-in button:hover {
  color: white;
  background-color: black;
  border: 1px solid grey;
}


/* LogOut */

.log-out h1 {
  font-size: 20px;
}

.log-out p {
  font-size: 12px;
  font-weight: 400;
}

.log-out button {
  font-size: 12px;
  line-height: 2;
  background-color: white;
  border: 1px solid black;
}

.log-out button:hover {
  color: white;
  background-color: black;
  border: 1px solid grey;
}


/* @media queries */

/* Styles for screens with a minimum width of 320px */

@media (min-width: 300px) {

  .cover-text {
    text-align: end;
    margin-top: 5rem;
    background: rgba(215, 177, 177, 0.4);
  }

  .heading {
    font-size: 24px;
  }

  .sub-heading {
    font-size: 18px;
  }

  .home-about p {
    font-size: 12px;
  }

  .cover_img .img_bg>.container>.row {
    min-height: 200px;
    height: 35vh;
  }

  .contacts h2 {
    font-size: 15px;
  }

  .contacts p {
    font-size: 11px;
  }
}

/* Styles for screens with a minimum width of 576px */

@media (min-width: 576px) {
  .heading {
    font-size: 24px;
  }

  .sub-heading {
    font-size: 18px;
  }

  .home-about p {
    font-size: 16px;
  }

  .cover_img .img_bg>.container>.row {
    min-height: 200px;
    height: 40vh;
  }

  .contacts h2 {
    font-size: 15px;
  }

  .contacts p {
    font-size: 11px;
  }

  th,
  td {
    padding: 5px;
  }
}

/* Styles for screens with a minimum width of 768px */

@media (min-width: 768px) {
  .heading {
    font-size: 24px;
  }

  .sub-heading {
    font-size: 18px;
  }

  .home-about p {
    font-size: 16px;
  }

  .cover_img .img_bg>.container>.row {
    min-height: 200px;
    height: 50vh;
  }

  .contacts h2 {
    font-size: 16px;
  }

  .contacts p {
    font-size: 12px;
  }

  .bookings h1 {
    font-size: 20px;
    font-weight: 500;
  }

  table th {
    font-size: 18px;
    font-weight: 300;
  }

  table td {
    font-size: 12px;
  }
}

/* Styles for screens with a minimum width of 992px */

@media (min-width: 992px) {
  .heading {
    font-size: 36px;
  }

  .sub-heading {
    font-size: 24px;
  }

  .home-about p {
    font-size: 18px;
  }

  .cover-text {
    text-align: end;
    /* margin-left: 21rem; */
  }

  .contacts h2 {
    font-size: 17px;
  }

  .contacts p {
    font-size: 13px;
  }

}

/* Styles for screens with a minimum width of 1200px */

@media (min-width: 1200px) {
  .heading {
    font-size: 36px;
  }

  .sub-heading {
    font-size: 24px;
  }

  .home-about p {
    font-size: 18px;
  }
}

/* Styles for screens with a minimum width of 1400px */

@media (min-width: 1400px) {
  .heading {
    font-size: 36px;
  }

  .sub-heading {
    font-size: 24px;
  }

  .home-about p {
    font-size: 18px;
  }
}