{% extends 'base.html' %}
{% load static %}

{% block extra_title %}- Meal details{% endblock %}
{% block content %}


<!-- Cover image -->
<div class="cover_img">
  <div class="img_bg" style="background-image: url({% static 'site_static/img/plato-comida-cubana-ropa-vieja.jpg' %})">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 cover-text">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container ">
  <div class="row justify-content-center">
    <div class="col">

      <div class="card no-border shadow-sm m-2">

        {% if "placeholder" in  meal_details.image.url %}
        <img src="{% static 'site_static/img/no_image.jpg' %}" alt="No image available">
       
        {% else %}
        <img src="{{ meal_details.image.url }}" alt="#{{ meal_details.name }}">
        {% endif %}

        <div class="card-body details">
          <h5 class="card-title">{{ meal_details.name }}</h5>
          <p class="card-text">{{ meal_details.description }}</p>
          <p class="card-text">{{ meal_details.price }} SEK</p>
          <button type="button" class="btn btn-outline-sedondary" onclick="window.history.back();">Back to Menu</button>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}