{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Contact Details: </h1>
      <p><strong>Name:  </strong>{{ contacts.name }}</p>
      <p><strong>Email: </strong>{{ contacts.email }}</p>
      <p><strong>Phone number:  </strong>{{ contacts.phone_number }}</p>
      <p><strong>Address: </strong>{{ contacts.address }}</p>
      <!-- Add more information here as needed -->
    </div>
    <div class="col-md-6">
      <!-- Add an image or other content here if desired -->
    </div>
  </div>
</div>
{% endblock %}