{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

    <h1>Make a reservation</h1>
    
    {% if bookings %}
        <h2 href="{% url 'view_bookings' %}">Your Bookings:</h2>
        <ul>
            {% for booking in bookings %}
            <li>{{ booking.date }} at {{ booking.time }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no bookings yet.</p>
    {% endif %}

    <form method="POST" action="#">
        {{ reservation_form | crispy }}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-secondary" value="Submit">
    </form>
{% endblock %}
