{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Cover image -->
<div class="cover_img">
  <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 cover-text">
          <h2 class="heading">About Us, about 'Cubaneros'</h2>
          <p class="sub-heading">Shortly about us, about our concep and legacy brought back from motherland.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container about">
  <div class="row justify-content-center mt-4">
    <div class="col text-center">
      <h2>About {{ about_us.restaurant_name }}</h2>
      <p>{{ about_us.description }}</p>
    </div>
  </div>
</div>

<hr>

<div class="container about-things">
  <div class="row justify-content-center mt-4">
    <h3 class="text-center">Things we offer</h3>
    {% for things in things_we_offer %}
    <div class="col-md-6 text-center m-3">
      <h5>{{ things.title }}</h5>
      <p>{{ things.description }}</p>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}