{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<!-- Cover image -->
<div class="cover_img">
  <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 cover-text">
          <h2 class="heading">Booking confirmation</h2>
          <p class="sub-heading">Great! We are looking forward to see you!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- booking.html -->
<div class="section">
  <div class="container confirmation">
    <div class="row justify-content-center m-2">
      <div class="col-md-8 text-center">
        <h2 class="confirmation-title">Booking Confirmation</h2>
        <p class="p-text">Thank you for your booking!</p>
        <hr>

        <p>Name: {{ booking.name }}</p>
        <p>Email: {{ booking.email }}</p>
        <p>Phone: {{ booking.phone }}</p>
        <p>Number of people: {{ booking.number_of_guests }}</p>
        <p>Date and Time: {{ booking.reservation_date }} {{ booking.reservation_time }}</p>
        {% if booking.notes %}
        <p>Notes: {{ booking.notes }}</p>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
