{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Cover image -->
<div class="cover_img">
  <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-8 cover-text">
          <h2 class="heading">Your bookings</h2>
          <p class="sub-heading">In case you have to update or cancel your booking with us!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container bookings">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1>My Bookings</h1>

      {% if bookings %}
      <table>
        <thead>
          <tr>
            <th>Nr. of Guests</th>
            <th>Name</th>
            <th>Date & Time</th>
            <th>Contact</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr>
            <td>{{ booking.number_of_guests }} pers.</td>
            <td>{{ booking.name }}</td>
            <td>{{ booking.reservation_date_and_time }}</td>
            <td>({{ booking.phone }})</td>
            <td>
              <a href="{% url 'booking_edit' pk=booking.pk %}">Edit</a> |
              <a href="{% url 'booking_delete' pk=booking.pk %}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>You haven't made any bookings yet.</p>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}